body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: burlywood;
}
.chessBoard {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 12.5%;
    height:12.5%;
    float: left;
    display: flex;
    align-items: center;
    position: relative;
}
.white {
    background-color:aliceblue;
}
.black {
    background-color:darkturquoise;
}

.coordinate {
    height: auto;
    display: flex;
    bottom: 4%;
    right: 4%;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rank {
    top: 4%;
    left: 4%;
    right:auto
}
.whiteText {
    color:darkturquoise;
} 
.blackText {
    color:aliceblue;
}
.piece {
    width: 100%;
    z-index: 1;
    cursor: pointer;
}
.piece img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
@media (min-width:600px) {
    .chessBoard {
    width: 600px;
    height: 600px;
    }
}
@media (max-width:600px) {
    .coordinate {
        font-size: 8px;

    }

}
/*estilo del reloj*/
aside{
	border: 1px solid #759652;
	background-color:#EBEBD0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#contenedor{
	background-color:darkturquoise;
	color:#EBEBD0;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
    
}

.reloj{
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	display: inline-block; height: 100px;
   
}

.boton{
	outline: none;
	color: #000500;
	text-shadow: 0px -1px 1px black;
	font-size: 16px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-color: #EBEBD0;
}


h2{
	font-size: 30px;
	color:#7E6752;
	font-weight: bold;
	padding:0px 0px 10px 10px;
}
